{% extends 'base.html' %}
{% block content %}
<h2>tout les contrats</h2>
{% if error %}
    <p>{{ error.detail }}</p>
{% endif %}
{% if contracts %}
{% for contract in contracts %}
<div class="box">
    <p>Client : {{ contract.customer.company }}</p>
    <p>status : {{ contract.status }}</p>
    <p>Montant : {{ contract.amount }}</p>
    <p>Contact commercial : {{ contract.sale_contact.email }}</p>
<a href="{% url 'contract_detail' cont_id=contract.id %}"><button>Détails</button></a>
</div>
{% endfor %}
{% endif %}
{% endblock %}