{% extends 'base.html' %}
{% block content %}
<h2>Détails contrat</h2>
<div class="box">
{% if error %}
    <p>{{ error.detail }}</p>
{% endif %}
{% if contract %}
    <p>Société : {{ contract.customer.company }}</p>
    <p>Status : {{ contract.status }}</p>
    <p>Montant : {{ contract.amount }}</p>
    <p>Date de payement : {{ contract.payement_due }}</p>
    <p>Création : {{ contract.date_created }}</p>
    <p> Dérnière modification : {{ contract.date_updated }}</p>
    <p>Contact vente : {{ contract.sale_contact.email }}</p>
    {% if user.id == contract.sale_contact.id and contract.event_created == False%}
    <a href="{% url 'event_create' contract_id=contract.id customer_id=contract.customer.id %}"><button>Créer un evenement</button></a>
    {% elif contract.event %}
    <a href="{% url 'event_detail' event_id=contract.event.id %}"><button>voir l'événement</button></a>
    {% endif %}
{% endif %}
</div>
{% endblock %}