{% extends 'base.html' %}
{% block content %}
<h2>Détails client</h2>
<div class="box">
{% if error %}
    <p>{{ error.detail }}</p>
{% endif %}
{% if customer %}
    <p>Société : {{ customer.company }}</p>
    <p>Prénom : {{ customer.first_name }}</p>
    <p>Nom : {{ customer.last_name }}</p>
    <p> Téléphone : {{ customer.phone }}</p>
    <p>Mobile : {{ customer.mobile }}</p>
    <p>Email : {{ customer.email }}</p>
    <p>Création : {{ customer.date_created }}</p>
    <p> Dérnière modification : {{ customer.date_updated }}</p>
    <p>Déja client :
        {% if client.existing %}
        Oui
        {% else %}
        Non
        {% endif %}
    </p>
    <p>Contact vente : <a href="{% url 'user_detail' user_id=customer.sale_contact.id %}">{{ customer.sale_contact.email }}</a></p>
    {% if user.id == customer.sale_contact.id or user.role == 'manager' %}
    <a href="{% url 'contract_create' customer_id=customer.id %}"><button>Créer un contrat</button></a>
    <a href="{% url 'customer_edit' edit_customer_id=customer.id %}"><button>Editer client</button></a>
    {% endif %}
{% endif %}
</div>
{% endblock %}