{% extends 'base.html' %}
{% block content %}
<h2>Détails événement</h2>
<div class="box">
{% if error %}
    <p>{{ error.detail }}</p>
{% endif %}
{% if event %}
    <p>Client : <a href="{% url 'customer_detail' customer_id=event.customer.id %}">{{ event.customer.company }}</a></p>
    <p>Jauge : {{ event.attendees }}</p>
    <p>Date : {{ event.event_date }}</p>
    <p>Création : {{ event.date_created }}</p>
    <p>Modification : {{ event.date_updated }}</p>
    <p>Contact support : <a href="{% url 'user_detail' user_id=event.support_contact.id %}">{{ event.support_contact.email }}</a></p>
    <p>Status :
        {% if event.event_status %}
        En cours
        {% else %}
        Términé
        {% endif %}
    </p>
    <p>Note : {{ event.note }}</p>
    <a href="{% url 'contract_detail' cont_id=event.contract.id %}"><button>Contrat</button></a>
    {% if user.id == event.support_contact.id or user.is_manager %}
    <a href="{% url 'event_edit' edit_event_id=event.id %}"><button>Editer</button></a>
    {% endif %}
{% endif %}
</div>
{% endblock %}