{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Recherches</h2>
<form method="get">
    <div class="search">
        <div class="search_model">
            <label for="customer">Client</label>
            <input type="radio" name="search_sel" id="customer" value="customer">
            <label for="contract">Contrat</label>
            <input type="radio" name="search_sel" id="contract" value="contract">
            <label for="event">Evenement</label>
            <input type="radio" name="search_sel" id="event" value="event">
        </div>
        <div>
            <select name="type" id="choices">
            </select>
        </div>
        <div class="search_input">
            <input type="text" id="search_input" name="search_input">
        </div>
        <div>
            <button type="submit">Recherche</button>
        </div>
    </div>
</form>
<script src="{% static 'js/search.js' %}"></script>
{% if results %}
    {% if type == 'customer' %}
        {% include 'front/partials/customers_snippet.html' with clients=results %}
    {% elif type == 'contract' %}
        {% include 'front/partials/contracts_snippet.html' with contracts=results %}
    {% elif type == 'event' %}
        {% include 'front/partials/events_snippet.html' with events=results %}
    {% endif %}
    {% elif empty %}
    <p>Aucuns résultats</p>
{% endif %}
{% endblock %}