{% for event in events %}
<div class="box">
    <p>Client : {{ event.customer.company }}</p>
    <p>Jauge : {{ event.attendees }}</p>
    <p>Date : {{ event.event_date }}</p>
    <p>Contact support : {{ event.support_contact.email }}</p>
    <p>Note : {{ event.note }}</p>
    <a href="{% url 'event_detail' event_id=event.id %}"><button>Détails</button></a>
    {% if user.id == event.support_contact.id %}
    <a href="{% url 'event_edit' edit_event_id=event.id %}"><button>Editer</button></a>
    {% endif %}
</div>
{% endfor %}